.style{
    background-color: "#2ECFE8";
    color: aqua;
}
fieldset.bor {
   border: 1.2px solid black;
   padding:0 1.4em 1.4em 1.4em;
   
  }
  legend.bor{
      width: auto;
      border:none;
      font-size: 0.8em;
      font-weight: bold;
  }
  

  table.tab{
      
      border-collapse: collapse;
      width: 100%;
  }

  td,th{
      border: 1px solid black;
      padding: 8px;
      text-align: center;
  }
  tr.trr:hover{
      background-color: lightblue;
  }