.style{
    background-color: "#2ECFE8";
    color: aqua;
}
fieldset.bor {
   border: 1.2px solid black;
   padding:0 1.4em 1.4em 1.4em;
   
  }
  legend.bor{
      width: auto;
      border:none;
      font-size: 0.8em;
      font-weight: bold;
  }
  
  .header{
      height: 30px;
      padding: 5px;
      justify-content: center;
      align-items: center;
      
  }
  .main-modal{
      width: 100%;
  }
  .title{
    font-size: 0.8em;
      
  }
  
  input {
    margin: 10px;
  }
  label{
      font-weight: bold;
      font-size: 0.9em;
      justify-content: center;
      margin: 10px;
      align-items: center;
  }

  button{
      border: 1px solid black;
      width: 80px;
      margin-top: 10px;
      margin-left: 900px;
  }

  table.tab{
      border-collapse: collapse;
      width: 100%;
  }

  td,th{
      border: 1px solid black;
      padding: 8px;
      text-align: center;
  }
  tr:hover{
      background-color: lightblue;
  }